<p>
    Pour chaque
    <select>
        <option value="trésor">Trésor</option>
        <option value="saab">Monstre</option>
        <option value="mercedes">Plante</option>
        <option value="audi">Gobelin</option>
        <option value="audi">Lieu</option>
    </select>
    dans ta vue, tu ...
</p>
<div class="indent">
    <hierarchicallevel-components-component
            [firstElementText]="'... Hum, tu fais quoi à chaque fois ...'"
            [lastElementText]="'... Et ensuite, que vas-tu pouvoir continuer à faire ? ...'"></hierarchicallevel-components-component>
</div>
<p>Et tu recommences !</p>
